@import 'variable';
@import 'util';
.music{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px;
    height: 24px;
    background: url(../images/sound_muted.png) center center no-repeat;
    background-size: 24px 24px;
    z-index: @music_play_icon_index;
    // animation: musicloop 4s linear infinite forward;
    .setTapColor();
    &.playing{
        background: url(../images/sound.png) center center no-repeat;
        background-size: 24px 24px;
        -webkit-animation: rotating 2s linear infinite both;
        animation: rotating 2s linear infinite both;
    }
}
@keyframes musicloop{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}