@import url(../com/variable);
@import url(../com/util);
@import url(../mixin/setPos);


.dialog{
	&-mask{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: rgba(0, 0, 0, .8);
		z-index: @dialog_index - 1;
		display: none;
	}
	.setBoxCenter();
	// width: 2.65rem;
	width: 3rem;
	padding-bottom: .1rem;
	// height: 4rem;
	border-radius: .12rem;
	background-color: red;
	z-index: @dialog_index;
	display: none;
	&__close{
		position: absolute;
		top: .08rem;
		right: .08rem;
		.size(.23rem);
		background-image: url(../images/close.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	&__love-thumb{
		position: absolute;
		margin-top: .05rem;
		left: 50%;
		transform: translate(-50%, 0);
		.size(.27rem);
		background-image: url(../images/dialog_love_thumb.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	&__video{
		position: relative;
		margin-top: .36rem;
		width: 100%;
		// height: 1.34rem;
		height: 1.64rem;
		img{
			width: 100%;
			height: 100%;
		}
		&--play{
			.setBoxCenter();
			.size(.62rem);
			background-image: url(../images/video_play.png);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			z-index: @dialog_index + 5;
		}
	}
	&__info, &__opr{
		padding: 0 1em;
	}
	&__title{
		margin-top: .1rem;
		color: #fff;
		font-size: .21rem;
	}
	&__desc{
		color: #fff;
		font-size: .14rem;
		font-weight: 100;
	}
	&__ft{
		position: relative;
		margin-top: .15rem;
		height: .4rem;
		.gongyi-logo{
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0) scale(.6);
			bottom: .05rem;
			width: 1.29rem;
			height: .39rem;
			background-image: url(../images/99gongyi.png);
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
	}
	&#dialog-modal{
		width: 2.65rem;
		.modal__hd{
			padding: .4rem 0 .2rem 0;
			text-align: center;
			.donate-user-avater{
				display: inline-block;
				.size(1.25rem);
				border-radius: 50%;
				overflow: hidden;
				img{
					width: 100%;
					height: 100%;
				}
			}
		}
		.modal__bd{
			padding: 0 .3rem;
			color: #fff;
			.name{
				font-size: .21rem;
			}
			.desc{
				font-size: .14rem;
			}
		}
	}
}